mixin box-updates(link)
   div(
      class="input-group mb-3" 
      box-updates=link
   )
      select(class="custom-select")
         option(value="") Select your action... 
         - if(correspondRole.permissions.includes("products_edit")) 
            option(value="active") Active  
            option(value="inactive") Inactive
         - if(correspondRole.permissions.includes("products_delete")) 
            option(value="deleteSoftManyItems") Delete many
      
      .input-group-append 
         button(
            class="btn btn-outline-primary"
            type="button"
         ) Update